<ul class="ul-box">
  <li class="li-box">
    <h2>Create a New Post</h2>
  </li>
  <li class="li-box">
    <%= form_with model: @post, url: user_posts_path do |form| %>
      <div>
        <%= form.text_field :title, placeholder: 'Enter title', required: true, class: 'form-input' %>
      </div>
      <div>
        <%= form.text_area :text, placeholder: 'Enter Post Text', required: true, class: 'form-text-area' %>
      </div>
      <%= form.submit "Create Post", class: "button form-button" %>
    <% end %>
  </li>
</ul>
